body {
	margin:0px;
}

div.centerg {
	background-color:green;
	margin:auto;
 	margin: auto; 
	clear: both;
	text-align: center;
}

canvas.inside {
	margin:auto;
	padding:0;
	background-color: white;
 	width: 640px;
 	height: 480px;
 	display:block;
	text-align: center;
}

div.bottom {
	background-color: red;
 	margin: auto; 
	clear: both;
	text-align: center;
}


