html {
	/*
	height: 100%;
	width: 100%;*/
}

body {
	margin: 0px;
	touch-action: pan-x pan-y;
	/*height: 100%;
	width: 100%;*/
}

div.centerg {
	background-color:green;
	clear: both;
	text-align: center;
 	/*width: 100%;
	height: 100%;*/
}

canvas.inside {
	margin:auto;
	padding:0;
	background-color: white;
 	width: 100%;
	height: 100%;
 	display:block;
	text-align: center;
}

div.bottom {
	background-color: red;
 	margin: auto; 
	clear: both;
	text-align: center;
}


